body
{
    background-image: url("css_background2.jpg");
    align-content: center;
    font-family: calibri ;

}

#sidepanel a {
    text-decoration:none;
    color: black;
}

a:visited
{
    color: black;
}
a:hover
{
    color: #6666FF;
}
#header
{
    font-size: 60px;
    font-weight: bold;
    color: #A8A8A8;
    text-align: center;
}
#header ul
{
    margin-top: 10px;
    margin-bottom: 10px;
}
#header li
{
    background-color: inherit;
    display: inline;
}

#content
{
    background-color: #F8F8F8;
    width: 920px;
    margin-left: auto;
	margin-right: auto;
    overflow:  auto;
}

input[type=submit],input[type=reset]

{
    background-color: #05bf0b;
}
input[type=submit]:hover,input[type=reset]:hover
{
    background-color: #05f40c;
}
select
{
    background-color: white;
}
input
{
    background-color: white;
}

#sidepanel
{
    width: 200px;
    height: 100%;
    position: relative;
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;

    background-color: #E0E0E0;

}

#sidepanel a
{
    text-transform: uppercase;
    color: black;
}

.nav
{
    width: 100%;
    list-style-type:none;
    margin:0;
    padding:0;
    font-size: 18px;
}

#main
{
    width: 690px;
    float: left;
    position: relative;
    font-size: 18px;
    padding-top: 10px;
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

td{
    padding-right: 30px;
}
#main > table > tbody > tr >td,#main > table > tbody > tr >td>a

{
    background-color: #bfbfbf;
}
#main > table > tbody > tr:nth-child(1)>td
{
    background-color: transparent;
}

#main table
{
    margin-top: 0px;
}

.title
{
    font-size: 30px;
}

#login
{
    font-style: italic;
}

.statsTable td
{
     text-align: center;
}
.normal> tbody > tr >td,.normal> tbody > tr >td>a
{
    background-color: white!important;
}