<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Liga {% endblock %}</title>
    <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}liga.css"/>
</head>
<body>
<div id="header">
    Twoja Liga
</div>
<div id="content">
    <div id="sidepanel">
        {% if request.session.user %}
            Witaj {{ request.session.user }}
            <br>
            <br>
        {% endif %}
        <ul class="nav">
            {% if request.session.user %}
                <li><a href="{% url 'logout' %}">Wyloguj się</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Zarejestruj się</a></li>
                <li><a href="{% url 'login' %}">Zaloguj się</a></li>
            {% endif %}
        </ul>
        <br>
        <ul class="nav">
            <li><a href="{% url 'home' %}">Strona główna</a> </li>
            <li><a href="{% url 'leagues' %}">Ligi</a> </li>
            <li><a href="{% url 'teams' %}">Drużyny</a></li>
            <li><a href="{% url 'players' %}">Zawodnicy</a></li>
            <li><a href="{% url 'coaches' %}">Trenerzy</a></li>
            <li><a href="{% url 'referees' %}">Sędziowie</a></li>
        </ul>
        <!-- Tu ma być if -->
        <br>
        {% if request.session.verified %}
            <ul class="nav">
                <li><a href="{% url 'newleague' %}">Dodaj ligę</a></li>
                <li><a href="{% url 'newteam' %}">Dodaj drużynę</a></li>
                <li><a href="{% url 'newplayer' %}">Dodaj zawodnika</a></li>
                <li><a href="{% url 'newcoach' %}">Dodaj trenera</a></li>
                <li><a href="{% url 'newreferee' %}">Dodaj sędziego</a></li>
            </ul>
        {% endif %}
    </div>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer"></div>
</body>
</html>