<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Liga {% endblock %}</title>
    <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}liga.css"/>
</head>
<body>
<div id="header">
    Twoja Liga
</div>
<div id="content">
    <div id="sidepanel">
        <ul id="nav">
            <li><a href="{% url 'home' %}">Strona główna</a> </li>
            <li><a href="{% url 'leagues' %}">Ligi</a> </li>
            <li>Drużyny</li>
            <li>Zawodnicy</li>
            <li>Trenerzy</li>
            <li>Sędziowie</li>
        </ul>
        <!-- Tu ma być if -->
        <br>
        <ul id="nav2">
            <li>Dodaj ligę</li>
            <li>Dodaj drużynę</li>
            <li>Dodaj zawodnika</li>
            <li>Dodaj trenera</li>
            <li>Dodaj sędziego</li>
        </ul>
    </div>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
<div id="footer"></div>
</body>
</html>