<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    {{ team.name }}
{% endblock %}

{% block content %}
    <img src="{{ STATIC_URL }}{{ team.emblem }}" style="float: left;  height: 100px;width: 100px" alt="">
    <div class="title" style="margin-top: 30px">
        {{team.name }}
    </div><br/><br/><br/><br/>
    Trener: {{ coach.name }} {{ coach.surname }}
    <br>
    <br>
    Skład:
    <br>
    <table>
        <tr>
            <td><b>Imię</b></td>
            <td><b>Nazwisko</b></td>
        </tr>
        {% for player in players_list %}
            <tr>
                <td>{{ player.player.name }}</td>
                <td>{{ player.player.surname }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}