<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    Ligi
{% endblock %}

{% block content %}
    <div class="title">Ligi</div>
    <table>
        <tr>
            <td><b>Nazwa</b></td>
            <td><b>Liczba drużyn</b></td>
        </tr>
        {% for league in leagues_list %}
            <tr>
                <td><a href="{% url 'league' league.id %}">{{ league.name }}</a></td>
                <td>{{ league.count }}</td>
                {% if request.session.verified %}
                    <td><a href="{% url 'editleagueteams' league.id %}">edytuj</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}