<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    Mecze drużyny {{ team.name }} w {{ league.name }}
{% endblock %}

{% block content %}
    <div class="title">Mecze drużyny {{ team.name }} w <a href="{% url 'league' league.id %}">{{ league.name }}</a></div><br/>
    {% if league.finished == False %}
    <a href="{% url 'newmatch' team.id league.id%}">Dodaj mecz</a>
    {% endif %}
    <br>
    <table>
        <tr>
            <td><b>Gospodarz</b></td>
            <td><b>Wynik</b></td>
            <td><b>Gość</b></td>
            <td><b>Data</b></td>
        </tr>
        {% for mecz in mecze %}
            <tr>
                <td>{{ mecz.homeTeam.name }}</td>
                <td>{{ mecz.homeGoals }} : {{ mecz.guestGoals }}</td>
                <td>{{ mecz.guestTeam.name }}</td>
                <td>{{ mecz.date }}</td>
                <td><a href="{% url 'match' mecz.id %}">szczegóły</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}