<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    Dodaj drużynę
{% endblock %}

{% block content %}
    <div class="title">Dodaj drużynę</div>
    <div>
        <form method="post" action="">
            <div style="color: red">
                {{ msg }}
            </div>
            {% csrf_token %}
            <table>
                {{ formset }}
                <tr>
                    <th>
                        <label>Herb drużyny:</label>
                    </th>
                    <td>
                        <input type="file" name="photo">
                    </td>
                </tr>

                </br>
            </table>
            <input type="submit" class="btn btn-default" formenctype="multipart/form-data" value="Dodaj">
            <input type="reset" class="btn btn-default" value="Anuluj">
        </form>
    </div>
{% endblock %}