<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    Sędziowie
{% endblock %}

{% block content %}
    <div class="title">Sędziowie</div><br/>
    <table>
        <tr>
            <td><b>Imię</b></td>
            <td><b>Nazwisko</b></td>
        </tr>
        {% for referee in refereeslist %}
            <tr>
                <td>{{ referee.name }}</td>
                <td>{{ referee.surname }}</td>
                {% if request.session.verified %}
                    <td><a href="{% url 'deletereferee' referee.id %}">usuń</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}